# ==========================================================================
# > 拼多多（PDD）新版接口 JS 净化补丁
# ==========================================================================

hostname = api.pinduoduo.com, api.yangkeduo.com

# > 核心：劫持全新首页及底部菜单 hub 接口，并指引到你的 GitHub 真实 JS 路径
^https?:\/\/api\.(pinduoduo|yangkeduo)\.com\/homepage\/hub url script-response-body https://raw.githubusercontent.com/Hubfilter/QuantumultX/main/pdd_clean.js
