# ==========================================================================
# > 拼多多（PDD）新版接口重写配置
# ==========================================================================

hostname = api.pinduoduo.com, api.yangkeduo.com

# > 拦截全新首页及底部菜单 hub 接口，并精确指向同目录下的脚本文件
^https?:\/\/api\.(pinduoduo|yangkeduo)\.com\/homepage\/hub url script-response-body https://raw.githubusercontent.com/Hubfilter/QuantumultX/main/pdd_clean.js
